<h1>Request book</h1>
<p>Under construction...</p>
<form (ngSubmit)="requestBook()">

  <div class="form-block">
    <label class="label">Select book:</label>
    <select
      class="select"
      [(ngModel)]="form.bookId"
      [ngModelOptions]="{standalone: true}"
      multiple
    >
      <option disabled selected> - - BOOK TITLE - - </option>
      <option *ngFor="let book of books" [ngValue]="book.id">
        {{book.title}}
      </option>
    </select>
  </div>
  <button type="submit">Request book</button>
</form>
