<h1>Return book request</h1>
<p>Under construction ... </p>
<form (ngSubmit)="requestReturn()">

  <div>
    <div class="form-block">
      <label class="label">Select book:</label>
      <select
        class="select"
        [(ngModel)]="form.bookId"
        [ngModelOptions]="{standalone: true}"
      >
        <option disabled selected> -- BOOK TITLE --</option>
        <option *ngFor="let borrow of activeBorrows" [ngValue]="borrow.bookId">
          ID: {{borrow.id}} - {{borrow.bookTitle}}
        </option>
      </select>
      <div *ngIf="errors && errors.bookId" class="field-error">
        {{ errors.bookId }}
      </div>
    </div>

    <button type="submit">Request return</button>
  </div>
</form>
