table {
  width: 100%;
}

.table-th {
  background-color: darkgray;
}

.table,
.table-th,
.table-td {
  border: 1px solid black;
}

.active {
  background: blue;
  color: white;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  font-size: 22px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
