<form (ngSubmit) = "saveBook()">
  <div class="form-block">
    <label class="label" for="title">Title:</label>
    <input
      class="input"
      type="text"
      id="title"
      placeholder="title here"
      [(ngModel)]="form.title"
      [ngModelOptions]="{standalone: true}"
    >
  </div>

  <div class="form-block">
    <label class="label" for="author">Author:</label>
    <input
      class="input"
      type="text"
      id="author"
      placeholder="author here"
      [(ngModel)]="form.author"
      [ngModelOptions]="{standalone: true}"
    >
  </div>

  <div class="form-block">
    <label class="label" for="isbn">ISBN:</label>
    <input
      class="input"
      type="text"
      id="isbn"
      placeholder="ISBN here"
      [(ngModel)]="form.isbn"
      [ngModelOptions]="{standalone: true}"
    >
  </div>

<div class="form-block">
  <label class="label">Category:</label>
  <select
  class="select"
  [(ngModel)]="form.category"
  [ngModelOptions]="{standalone: true}"
  >
    <option *ngFor="let category of categories" [ngValue]="category.name">
      {{category.name}}
    </option>
  </select>
</div>


  <button type="submit">AddBook</button>
</form>
