<div class="toolbar" role="banner" xmlns="http://www.w3.org/1999/html">
  <a routerLink="/"> Kontakt </a>
  <span> * - * </span>
  <a routerLink="/"> Regulamin </a>
  <span> * - * </span>
  <a routerLink="/"> Współpraca </a>
  <span> * - * </span>
  <a *ngIf="me"> User: {{ me.email }} </a>
  <span> * - * </span>
  <a routerLink="/profile"> My profile </a>
  <span> * - * </span>
  <span><a routerLink="/logout">Log out</a></span>
</div>

<div class="search-toolbar">
  <label for="search_input">Find book: </label>
  <input type="text" id="search_input" #search_input>
  <button
    routerLink="/search-result/{{search_input.value}}"
    type="submit">?
  </button>
</div>


<div class="content" role="main">
  <div class="sidebar">
    <ul>
      <li>Books
        <ul>
          <li><a routerLink="/books">All books</a></li>
          <li><a routerLink="/books-available"> Available books</a></li>
          <li><a routerLink="/books-by-category"> Books by category</a></li>
        </ul>
      </li>

      <li>Authors
        <ul>
          <li><a routerLink="/authors">Authors list</a></li>
        </ul>
      </li>

      <li>Categories
        <ul>
          <li><a routerLink="/categories">Categories</a></li>
        </ul>
      </li>

    </ul>

    <div *ngIf="me.role == READER_ROLE" class="reader-panel">
      <p>LIBRARIAN PANEL</p>
      <ul>
        <li><a routerLink="/new-borrow">Borrow request</a></li>
        <li><a routerLink="/return-book">Return request</a></li>
        <li><a routerLink="/my-borrow-list">My borrows</a></li>
      </ul>
    </div>

    <div *ngIf="me.role == LIBRARIAN_ROLE" class="librarian-panel">
      <p>LIBRARIAN PANEL</p>
      <ul>
        <li><a routerLink="/new-book">Add book</a></li>
        <li><a routerLink="/new-author">Add Author</a></li>
        <li><a routerLink="/new-category">Add Category</a></li>
        <li><a routerLink="/readers">Readers</a></li>
        <li><a routerLink="/new-users">New users</a></li>
      </ul>
    </div>

    <div *ngIf="me.role == ADMIN_ROLE" class="admin-panel">
      <p>ADMIN PANEL</p>
      <ul>
        <li><a routerLink="/librarians">Librarians</a></li>
        <li><a routerLink="/readers">Readers</a></li>
        <li><a routerLink="/new-users">New users</a></li>
      </ul>
    </div>

  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
