<div class="toolbar" role="banner" xmlns="http://www.w3.org/1999/html">
  <a routerLink="/"> Kontakt </a>
  <span> * - * </span>
  <a routerLink="/"> Regulamin </a>
  <span> * - * </span>
  <a routerLink="/"> Współpraca </a>
  <span> * - * </span>
  <a *ngIf="me"> User: {{ me.email }} </a>
  <span> * - * </span>
  <a routerLink="/profile"> My profile </a>
  <span> * - * </span>
  <span><a routerLink="/logout">Log out</a></span>
</div>

<div class="search-toolbar">
  <label for="search-input">Find book: </label>
  <input type="text" id="search-input">
  <button type="submit">?</button>
</div>


<div class="content" role="main">
  <div class="sidebar">
    <ul>
      <li>
        Books
        <ul>
          <li><a routerLink="/books">All books</a></li>
          <li><a routerLink="/books-available">Available books</a></li>
          <li><a routerLink="/books-by-category">Books by category</a></li>
          <li *ngIf="me.role == LIBRARIAN_ROLE"><a routerLink="/new-book">Add book</a></li>
        </ul>
      </li>

      <li>
        Authors
        <ul>
          <li><a routerLink="/authors">Authors list</a></li>
          <li *ngIf="me.role == LIBRARIAN_ROLE"><a routerLink="/new-author">Add Author</a></li>
        </ul>
      </li>

      <li *ngIf="me.role == LIBRARIAN_ROLE">
        Readers
        <ul>
          <li><a routerLink="/readers">Readers</a></li>
        </ul>
      </li>

      <li *ngIf="me.role == ADMIN_ROLE">
        Librarians
        <ul>
          <li><a routerLink="/librarians">Librarians</a></li>
        </ul>
      </li>

      <li>
        Categories
        <ul>
          <li><a routerLink="/categories">Categories</a></li>
          <li *ngIf="me.role == LIBRARIAN_ROLE "><a routerLink="/new-category">Add Category</a></li>
        </ul>
      </li>

      <li><a routerLink="/new-borrow">Borrow request</a></li>
      <li><a routerLink="/return-book">Return request</a></li>
      <li><a routerLink="/my-borrow-list">My borrows</a></li>

      <li *ngIf="me.role == 'ADMIN'"></li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
