h1 {
  margin: 8px 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #4fc20a;
  color: #e80a0a;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  padding: 0 20px;
  position: fixed;
  left: 20px;
  top: 100px;
}
