<div class="toolbar" role="banner">
    <a routerLink="/"> Kontakt </a>
  <span> * - * </span>
  <a routerLink="/"> Regulamin </a>
  <span> * - * </span>
  <a routerLink="/"> Współpraca </a>
  <span> * - * </span>
  <a routerLink="/"> Zaloguj się </a>
  <span> * - * </span>
  <a routerLink="/"> Zarejestruj się </a>
</div>


<div class="content" role="main">
  <div class="sidebar">
    <ul>
      <li><a routerLink="/books">Books</a>
        <ul>
          <li><a routerLink="/books-available">available Books</a></li>
          <li><a routerLink="/books-by-category">Books by category</a></li>
        </ul>
      </li>
      <li><a routerLink="/authors">Authors</a></li>
      <li><a routerLink="/borrowers">Borrowers</a></li>
      <li><a routerLink="/categories">Categories</a></li>

      <li></li>
      <li><a routerLink="/new-borrow">Borrow book</a></li>
      <li><a routerLink="/return-book">Return book</a></li>
      <li><a routerLink="/">Home</a></li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
