<div class="form-block">
  <h2>Wybierz kategorię: </h2>
  <select
    class="select"
    [(ngModel)]="selectedCategoryName"
    [ngModelOptions]="{standalone: true}"
    (change)="loadBooks()"
  >
    <option disabled selected> - - WYBIERZ KATEGORIĘ - -</option>
    <option *ngFor="let category of categories" [ngValue]="category.name">
      {{category.name}}
    </option>

  </select>
</div>

<div *ngIf="books.length > 0">
  <table class="table">
    <thead>
    <th class="table-th">ID</th>
    <th class="table-th">Tytuł</th>
    <th class="table-th">Autor</th>
    <th class="table-th">ISBN</th>
    <th class="table-th">Category</th>
    <th class="table-th">Available</th>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td class="table-td">{{book.id}}</td>
      <td class="table-td"><a routerLink="/books/{{book.title}}/">{{book.title}}</a></td>
      <td class="table-td"><a routerLink="/authors/{{book.authorName}}/">{{book.authorName}}</a></td>
      <td class="table-td">{{book.isbn}}</td>
      <td class="table-td">{{book.bookCategoryName}}</td>
      <td class="table-td">{{book.availabilityStatus}}</td>
    </tr>
    </tbody>
  </table>
  <h4>Liczba książek: ({{books ? books.length : 0}})</h4>
</div>

<h2 *ngIf="books.length == 0">Brak książek wybranej kategorii.</h2>
