<h2>Available books</h2>

<table class="table">
  <thead>
  <th class="table-th">ID</th>
  <th class="table-th">Tytuł</th>
  <th class="table-th">Autor</th>
  <th class="table-th">ISBN</th>
  <th class="table-th">Category</th>
  </thead>
  <tbody>
  <tr *ngFor="let book of availableBooks">
    <td class="table-td">{{book.id}}</td>
    <td class="table-td">{{book.title}}</td>
    <td class="table-td">{{book.author}}</td>
    <td class="table-td">{{book.isbn}}</td>
    <td class="table-td">{{book.bookCategoryName}}</td>
  </tr>
  </tbody>
</table>

<div>
  <h4>Liczba dostępnych książek: ({{availableBooks.length}})</h4>
</div>
