.form-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.label {
  display: block;
}

.input {
  padding: 5px 10px;
}

.field-error {
  color: red;
}

.login-div {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
}
