<div
  class="login-div"
  *ngIf="!userService.isAuthenticated()">
  <form (ngSubmit)="login()">
    <div class="form-block">
      <label class="label" for="email">Email:</label>
      <input
        class="label"
        type="email"
        id="email"
        placeholder="email here"
        [(ngModel)]="form.email"
        [ngModelOptions]="{standalone: true}"
      >
    </div>

    <div class="form-block">
      <label class="label" for="email">Password:</label>
      <input
        class="label"
        type="password"
        id="password"
        placeholder="password here"
        [(ngModel)]="form.password"
        [ngModelOptions]="{standalone: true}"
      >
    </div>
    <button type="submit">Login</button>
  </form>

  <p>New to MyApp? <a routerLink="/registration">Register here.</a></p>
</div>

<div
  class="login-div"
  *ngIf="userService.isAuthenticated()"
>
  <p>You are already logged in.</p>
  <a routerLink="/">Go back</a>
</div>
